button {
  background: none;
  color: #c7e2f6;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.app-sidebar-header h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.app-sidebar-notes {
  height: calc(100% - 78px);
  overflow-y: auto;
}

.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-bottom: 1px solid #e6e6e6;
}

.app-sidebar-note:hover {
  background-color: #f6f6f6;
}

.app-sidebar-note.active {
  background-color: #f6f6f6;
}

.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note p {
  margin: 10px 0;
}

.sidebar-note-title strong {
  font-size: 1.2rem;
  font-weight: 600;
}

.app-sidebar-note small {
  color: #999;
}
